.invoice-message {
  color: #2c3036; }
  .invoice-message__main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px 32px 18px 52px;
    border: 1px solid #c6c7ca;
    border-bottom: none;
    border-radius: 4px;
    font-size: 14px; }
  .invoice-message__content {
    padding-right: 30px; }
    .invoice-message__content:before {
      content: "";
      position: absolute;
      display: block;
      top: 19px;
      left: 21px;
      width: 18px;
      height: 15px;
      background-size: cover;
      background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 18.2 15" viewBox="0 0 18.2 15" width="18.2" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="%234da967" stroke-width="1.8"><path d="m2.7.9h12.8c1 0 1.8.8 1.8 1.8v9.6c0 1-.8 1.8-1.8 1.8h-11-1.8c-1 0-1.8-.8-1.8-1.8v-9.6c0-1 .8-1.8 1.8-1.8z"/><path d="m1.1 1.6 8 6.4 8-6.9" stroke-linejoin="round"/></g></svg>'); }
  .invoice-message__title {
    font-weight: 700;
    margin-bottom: 9px; }
  .invoice-message__text {
    color: #7a7a7a; }
  .invoice-message__additional {
    flex-shrink: 0; }
  .invoice-message__footer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 33px;
    font-size: 13px;
    color: #fff;
    background-color: #06233b;
    padding: 5px 52px;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box; }
    .invoice-message__footer:before {
      content: "";
      display: block;
      position: absolute;
      left: 22px;
      background-size: cover; }
  .invoice-message__footer-icon {
    position: absolute;
    left: 22px; }
  .invoice-message_success .invoice-message__footer {
    background-color: #4da967; }
    .invoice-message_success .invoice-message__footer:before {
      width: 20px;
      height: 20px;
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 20 20" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><g stroke-linecap="round"><circle cx="10" cy="10" r="9.15" stroke="%23caffd9" stroke-width="1.7"/><path d="m7 9.2 2.88235 2.8 4.11765-4" stroke="%23fff" stroke-linejoin="round" stroke-width="2"/></g></svg>'); }
  .invoice-message_danger .invoice-message__footer {
    background-color: #e8857f; }
    .invoice-message_danger .invoice-message__footer:before {
      width: 20px;
      height: 21px;
      background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="21" viewBox="0 0 20 21" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m8.75781 5.52344h2.44529v2.92187l-.6328 5.37499h-1.16405l-.64844-5.37499zm.05469 9.21876h2.3281v2.2578h-2.3281z" fill="%23fff"/><circle cx="10" cy="10.8462" r="9.15" stroke="%23f8d8d7" stroke-linecap="round" stroke-width="1.7"/></svg>'); }
  @media screen and (max-width: 767px) {
    .invoice-message__main {
      flex-direction: column; }
    .invoice-message__content {
      margin-bottom: 16px; } }

.invoice-message-view-button {
  user-select: none;
  cursor: pointer;
  transition: opacity 0.35s ease-out;
  display: flex;
  align-items: center;
  color: #2c3036;
  font-weight: 700;
  text-decoration: none; }
  .invoice-message-view-button:hover {
    opacity: 0.9;
    transition: none; }
  .invoice-message-view-button:active {
    opacity: 0.8; }
  .invoice-message-view-button:before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    margin-right: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="18" viewBox="0 0 20 18" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m10.75 3.99998c0-.41421-.3358-.75-.75-.75-.41421 0-.75.33579-.75.75zm-1.28033 9.95892c.29289.2929.76773.2929 1.06063 0l4.773-4.77298c.2929-.2929.2929-.76777 0-1.06066-.2929-.2929-.7678-.2929-1.0607 0l-4.2426 4.24264-4.24264-4.24264c-.29289-.2929-.76777-.2929-1.06066 0-.29289.29289-.29289.76776 0 1.06066zm-.21967-9.95892v9.42862h1.5v-9.42862z" fill="%23989caa"/><path d="m.765 2.68421c0-1.05995.85926-1.91921 1.91921-1.91921h14.63159c1.0599 0 1.9192.85926 1.9192 1.91921v12.63159c0 1.0599-.8593 1.9192-1.9192 1.9192h-12.3158-2.31579c-1.05995 0-1.91921-.8593-1.91921-1.9192z" stroke="%23989caa" stroke-width="1.53"/></svg>'); }

.invoice-message-button {
  user-select: none;
  cursor: pointer;
  transition: opacity 0.35s ease-out;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  padding: 0 15px;
  background-color: #4da967;
  height: 34px;
  border-radius: 4px; }
  .invoice-message-button:hover {
    opacity: 0.9;
    transition: none; }
  .invoice-message-button:active {
    opacity: 0.8; }
